<?xml version="1.0" encoding="UTF-8"?>
<suite name="LiveProjectSuite">
    <listeners>
        <listener class-name="Listeners.Listeners"/>
    </listeners>

    <test name="AddRemoveItemTest">
        <classes>
            <class name="uk.co.automationtesting.AddRemoveItemBasketTest"/>
        </classes>
    </test>
</suite>